<!DOCTYPE html>
<html lang="tr">
<body>
<div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-4 col-sm-6 col-sm-offset-3">
    <h1 class="page-header">Word Count</h1>
        <form action="count">
            <textarea cols="40" rows="10" name="fulltext"></textarea>
            <br />
            <br />
            <input type="submit" value="Count!" />
        </form>
    </form >
    <h3 class="page-header" style="margin-top:200px" ></h3>
    <p class="pager">Saliha Apak - Ayşen Alpaslan - Ayşe Akışık - Betül Berna Soylu</p>
    </div>
</body>
</html>



